<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
      <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"></li>
      <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"></li>
      <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="5000">
        <img src={{url_for('static',filename='imgs/1.jpeg')}} class="d-block w-100" alt="Immagine della sala principale dalla Biblioteca Capitolare.">
        <div class="carousel-caption d-none d-md-block">
          <h5>La biblioteca Capitolare di Verona.</h5>
          <p>La biblioteca ha un patrimonio di oltre un migliaio di manoscritti alcuni risalenti ai primi secoli dopo Cristo.</p>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="5000">
        <img src={{url_for('static',filename='imgs/2.jpeg')}} class="d-block w-100" alt="Immagine di un manoscritto digitalizzato ad alta risoluzione.">
        <div class="carousel-caption d-none d-md-block">
          <h5>Digitalizzazione dei beni librari.</h5>
          <p>Digitalizazioni con camere fino a 100 Mega Pixel, per preservare ogni minimo dettaglio.</p>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="5000">
        <img src={{url_for('static',filename='imgs/3.jpeg')}} class="d-block w-100" alt="Immagine che mostra una pergamena alla luce visibile e ultravioletta riflessa ed il testo che diventa leggible con quest'ultima.">
        <div class="carousel-caption d-none d-md-block">
          <h5>Restituire il perduto.</h5>
          <p>Tecniche di imaging avanzato per leggere i testi non più leggibili.</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </a>
</div>