<!-- /* foter template di sargbah84 */ -->
<div class="container">
    <section style="height:80px;"></section>
	<div class="row" style="text-align:center;">
	</div>
    <!----------- Footer ------------>
    <footer class="footer-bs">
        <div class="row">
        	<div class="col-md-3 footer-brand animated fadeInLeft">
                <h2>Capitolar-<b>e</b></h2>
                
                <p> Capitolar-e è gestito dal laboratorio <a href=https://sites.hss.univr.it/laboratori_integrati/laboratorio-lamedan/>LaMeDan</a>. 
                    Non esitare a conntatarci per ulteriori informazioni.
                    Il sito è costruito usando <a href="https://mdbootstrap.com">Bootstrap v.5 </a></p>
                <p> Parte del materiale utilizzato potrebbe essere soggetto a copyright © 2021 </p>
            </div>
        	<div class="col-md-4 footer-nav animated fadeInUp">
            	<h4>altre informazioni su —</h4>
            	<div class="col-md-6">
                    <ul class="pages">
                        <li><a href="/comefunziona">come funziona</a></li>
                        <li><a href="/progetti">progetti e iniziative</a></li>
                        <li><a href="/strumenti">strumenti</a></li>
                        <li><a href="/lineeguida">Linee guida</a></li>
                        <li><a href="/opendata">Open data (OAI, ARK ...)</a></li>
                        <li><a href="/credits">credits</a></li>
                    </ul>
                </div>
            	<div class="col-md-6">
                    <ul class="list">
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Contacts</a></li>
                        <li><a href="#">Terms & Condition</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
        	<div class="col-md-2 footer-social animated fadeInDown">
            	<h4>Follow Us</h4>
            	<ul>
                	<li><a href="#">Facebook</a></li>
                	<li><a href="#">Twitter</a></li>
                	<li><a href="#">Instagram</a></li>
                	<li><a href="#">RSS</a></li>
                </ul>
            </div>
        	<div class="col-md-3 footer-ns animated fadeInRight">
            	<h4>Newsletter</h4>
                <p>Ulteriori infomrazioni forse questo contiene più testo.</p>
                <ul>
                	<li><a href="#">test</a></li>
                	<li><a href="#">test2</a></li>
                	<li><a href="#">test3</a></li>
                	<li><a href="#">test4</a></li>
                </ul>
                
                <p>
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Search for...">
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-envelope"></span></button>
                      </span>
                    </div><!-- /input-group -->
                 </p>
            </div>
        </div>
    </footer>