.navbar{
    padding: 0.1rem 2rem;
    
}

body { background: #f3f1ef;
       padding-top: 35px;} /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */

#navbarSupportContent > ul > li:nth-child(n) > a:active{
    color: #00BF85;
}

/* .about .text{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: auto;
} */

/* .esplora .row{
    flex-direction: row-reverse;
} */

@media screen and (max-width:988px){
    .navbar{
        padding: 0.2rem;
        
    }
    .container {
        padding:0;
        margin:0;
      }
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}



/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

button.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.show
{
   display: block;
}