.navbar{
    padding: 0.1rem 2rem;
    
}

body { background: #f9f9f9 !important;
       padding-top: 35px;} /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */

#navbarSupportContent > ul > li:nth-child(n) > a:active{
    color: #00BF85;
}

/* .about .text{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: auto;
} */

.esplora .container{
    background-color: white;
}
.esplora .row{
    flex-direction: row-reverse;
}

@media screen and (max-width:918px){
    .navbar{
        padding: 0.2rem;
        
    }
    .container {
        padding:0;
        margin:0;
      }
}

@media (min-width: 768px) {
	.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-left:solid 1px rgba(255,255,255,0.10); }
}


 .footer-bs {
    background-color: #3c3d41;
	padding: 60px 40px;
	color: rgba(255,255,255,1.00);
	margin-bottom: 20px;
	border-bottom-right-radius: 6px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 6px;
}
.footer-bs .footer-brand, .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { padding:0px 5px 0px 5px; }
.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-color: transparent; }
.footer-bs .footer-brand h2 { margin:0px 0px 10px; }
.footer-bs .footer-brand p { font-size:12px; color:rgba(255,255,255,0.70); }

.footer-bs .footer-nav ul.pages { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.pages li { padding:0px 0px; margin: 0px 0px;}
.footer-bs .footer-nav ul.pages a { color:rgba(255,255,255,1.00); text-transform:uppercase; font-size: 10px;  padding:0px 0px; margin: 0px 0px;}
.footer-bs .footer-nav ul.pages a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }
.footer-bs .footer-nav h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom:10px;
}

.footer-bs .footer-nav ul.list { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.list li { padding:5px 0px;}
.footer-bs .footer-nav ul.list a { color:rgba(255,255,255,0.80); }
.footer-bs .footer-nav ul.list a:hover { color:rgba(255,255,255,0.60); text-decoration:none; }

.footer-bs .footer-social ul { list-style:none; padding:0px; }
.footer-bs .footer-social h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
}
.footer-bs .footer-social li { padding:5px 4px;}
.footer-bs .footer-social a { color:rgba(255,255,255,1.00);}
.footer-bs .footer-social a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }

.footer-bs .footer-ns h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom:10px;
}
.footer-bs .footer-ns p { font-size:12px; color:rgba(255,255,255,0.70); }



.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}



/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

button.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.show
{
   display: block;
}


section.progetti.container {
    margin-top: 30pt;
    margin-left: 5pt;
}

.progetti.head h3{
    text-align: center;
}
.progetti.head h6{
    text-align: center;
}
.progetti.head{
    background-color: #ffffff;
}

.progetti.container iframe {
    margin: auto;
    display: block;
    border-style:none;
}

.cookie-consent-container {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: black;
  z-index: 2000;
  color:white;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px; 
}

/* Carousel color contrast problme */
.carousel-control {
    filter: none;
    opacity: 1;
  }
  .carousel-control:hover,
  .carousel-control:focus {
    filter: none;
    opacity: 1;
  }
/* Sidenav */

.sidenav {
    width: 160px;
    z-index: 1000;
    top: 20px;
    left: 10px;
    margin-top: 0px;
    background: #eee;
    padding: 15px 0;

    }
  
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 14px;
    color: #26313a;
    display: block;
  }

label.nvb {
    color: #ffffff;
} 
a.bka {
    color: #ffffff; 
}
.sidenav a:hover {
    color: #47d240;
  }

.bka a:link {
    color: #ffffff;
  }

.sidenav p {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 14px;
    color: #26313a;
    display: block;
  }

.sidenav.strumenti{
    width: 260px;
}
.container.withnavbar {
    max-width: 1000px;
}

.tab-pane{
    font-size: 11pt;
    font-weight: 300;

}
.tab-pane h6{
    text-align: center;
}

a.manifesturl {
    font-size: small;
}
/* Dimensione slider */

#slider-range{
  width: 250px;
}


/* Tabella per ricerca avanzata  */
.header-fixed {
    width: 100% 
}

.header-fixed > thead,
.header-fixed > tbody,
.header-fixed > thead > tr,
.header-fixed > tbody > tr,
.header-fixed > thead > tr > th,
.header-fixed > tbody > tr > td {
    display: block;
}

.header-fixed > tbody > tr:after,
.header-fixed > thead > tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

.header-fixed > tbody {
    overflow-y: auto;
    height: 350px;
}

.header-fixed > tbody > tr > td,
.header-fixed > thead > tr > th {
    width: 25%;
    float: left;
}

.falsebutton {
    font: bold 11px Arial;
    text-decoration: none;
    background-color: #303030;
    color: #fffbfb;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
  }

.carousel-caption {
    
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

footer {
    width: 100%;
    background-color: #1C2125;
    color: white;
    text-align: center;
    font-size: 10px;
  }

tr:nth-of-type(odd) {
    background-color:#F3F1EF;
  }

  table {
    border: 1px solid rgb(211, 204, 204);
  }

td{
	padding-right: 5px;
}

  table {
    width: 100%;
  }

  .manbanner {
    position: relative;
  }
  
  .mantext {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 4vw;
    color: whitesmoke;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  }

  #imgmanu { 
    width: 100%;
    height: auto;
  }

 
.error-template {padding: 40px 15px;text-align: center;}
.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px; }


.containerX {
  padding-top: 100%; /* 1:1 Aspect Ratio */
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

abbr[title] {
  border-bottom: none !important;
  cursor: inherit !important;
  text-decoration: none !important;
}

.scriventelist { list-style: none;}
.scriventelist:before { content: '\270D'; margin-left: -20px; margin-right: 10px; list-style: none; } 


.annotationlist { list-style: none;}
.annotationlist:before { content: '📝'; margin-left: -20px; margin-right: 10px; list-style: none; } 


.olnumbered {
  list-style-type: none;
  counter-reset: item;
  margin: 0;
  padding: 0;
}

.olnumbered > .linumbered {
  display: table;
  counter-increment: item;
  margin-bottom: 0.6em;
}

.olnumbered > .linumbered:before {
  content: counters(item, ".") ". ";
  display: table-cell;
  padding-right: 0.6em;    
}

.show{
	text-align: justify;
}

.linumbered .olnumbered > .linumbered {
  margin: 0;
}

.linumbered .olnumbered > .linumbered:before {
  content: counters(item, ".") " ";
}


#sommario_desc{
	text-align: justify;
}

.TOC-scheda > li {
	cursor: pointer;
}

.accordion {
	scroll-margin-top: 80px;
}