{% extends 'layout.html' %}
{% block  body%}

<div class="container withnavbar" id="content">
    <br>
    <div class="row">
        <div class="sidenav">
            <p><b>Indice:</b></p>
            <a href="#scopo">Scopo</a>
            <a href="#storia">Storia del progetto</a>
            <a href="#lasalacons">La sala consultazione</a>
            <a href="#convenzione">La convenzione</a>
            <a href="#illaboratorio">Il laboratorio</a>
           
     
        </div>
        <div class="col-md-7 col-sm-6">
        <section id="scopo" class="bg-white">
            <br>
            <h1>Scopo del portale Capitolar-e</h1><p>
            Il progetto nasce dalla collaborazione tra gruppi di ricerca afferenti ai Dipartimenti di Culture e Civiltà 
            e di Informatica dell’Università di Verona, il Sistema Bibliotecario di Ateneo e la Biblioteca 
            Capitolare di Verona. L’insieme di queste competenze ha consentito di realizzare un portale 
            il cui obiettivo primario corre lungo un duplice binario: a) catalogazione e digitalizzazione; b)
            diagnostica. Lo scopo del punto a) è mettere a disposizione di studiosi e ricercatori, in modalità
            open access, manoscritti e documenti della Biblioteca capitolare di Verona.
            Per far questo il progetto si articola su tre sezioni principali: 
             <a href="/ricerca">1) Catalogo digitale dei manoscritti </a>, che offre sia le descrizioni dei codici 
            realizzate secondo i più moderni standard di internazionali sia le immagini digitalizzate in HD
            degli stessi;  <a href="/archivio">2) Inventario delle pergamene dell’Archivio capitolare</a> complete di scheda
            descrittiva e di immagini digitalizzate; <a href="/esplora">3) Catalogo storico dei manoscritti</a> condotto sulla base
            del vecchio catalogo a schede di don Antonio Spagnolo 
            e collegato alle immagini dei manoscritti indicizzati. Obiettivo del punto b) è l’esami diagnosticio
            di codici e pergamene per verificarne lo stato di conservazione e per compiere il rilievo e la 
            elaborazione di immagini di manufatti danneggiati e illeggibili. Ciò consentirà il recupero di 
            materiali di straordinario valore sia per quanto attiene alla tradizione testuale di alcuni testi 
            capitali per la cultura occidentale, sia per quanto riguarda documenti cruciali per la storia 
            dell’istituzione. Sono inoltre previste una sezione 4) dedicata ai prodotti della ricerca, 
            ossia alle pubblicazioni realizzate su diversi supporti e in diversi formati che costituiscono il 
            frutto tangibile dell’attività del progetto; una sezione 5) che ospita i contributi alla 
            divulgazione pubblicati sia in formato audio-video, attraverso filmati e interviste radio-televisive,
            sia attraverso gli organi della carta stampata.
            </p>
            <!-- <p>
            Per avere informazioni più dettagliate per la visita della Biblioteca Capitolare e del museo diocesano,
            vi invitiamo a consultare <a href="http://bibliotecacapitolare.org/">il sito ufficiale della biblioteca Capitolare di Verona</a>. 
            </p> -->
        </section>
        </div>
        <iframe src='https://cdn.knightlab.com/libs/timeline3/latest/embed/index.html?source=17AS0VmzVTH5n04pYBGr_E0vEuRFV87MkfrjzQk6zxg4&font=Default&lang=it&timenav_position=top&initial_zoom=2&height=650' width='100%' height='650' webkitallowfullscreen mozallowfullscreen allowfullscreen frameborder='0' title='Time line interattiva'></iframe>        
        <section id="storia" class="storia  py-5 ">
            <div class="row align-items-center container py-5 mx-auto">
            <div class="text col-lg-6 col-md-12 col-12">
                    <p class="h6">DALLO STUDIO ALLA CONSERVAZIONE</p>
                    <h1>Storia del progetto</h1>
                        Il progetto mosse i primi passi nel 2017 a partire da un progetto di ricerca di base finanziato dall’Ateneo di Verona 
                        (DascaBida: Dallo scriptorium carolingio alla biblioteca di Dante) e affidato in collaborazione dal 
                        Dipartimento di Culture e Civiltà e dal Dipartimento di Informatica. Obiettivo di quella prima tappa era
                         l’allestimento  
                        di un Laboratorio da collocare presso la Biblioteca Capitolare di Verona per catalogare e digitalizzare i 
                        manoscritti della Biblioteca Capitolare di Verona, a partire dal nucleo principale dei codici carolingi 
                        fino all’epoca di Dante Alighieri. L’obiettivo prevedeva anche la ricostruzione integrale del contesto 
                        storico nel suo complesso (artistico, religioso, storico-letterario) nel quale la biblioteca è venuta 
                        crescendo, investendo dunque anche il Complesso dell’Archivio del Capitolo. Per la sua realizzazione 
                        del progetto furono acquistati hardware, software, supporti per l’archiviazione di metadati, 
                        attrezzature fotografiche e di precisione che costituirono il primo nucleo del Laboratorio, 
                        inizialmente collocato in una stanza attigua al salone Arcidiacono Pacifico e appositamente allestita. 
     
                        </p>
              </div>
            <div class="img col-lg-6 col-md-12 col-12">
                <div class="embed-responsive embed-responsive-4by3">
                    <iframe class="embed-responsive-item" height="400px" width="100%" src="https://www.youtube-nocookie.com/embed/q8U-DiZHVUg?start=44" title="YouTube video player intervista Prof. Pellegrini sul progetto Dascabida." frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                </div>
            </div>
          </section>
          
          <section id="lasalacons" class="illaboratorio  py-5 ">
            <div class="row align-items-center container py-5 mx-auto">
                <div class="img col-lg-6 col-md-12 col-12">
                    <img class="img-fluid" src={{url_for('static',filename='imgs/salaconsult.jpeg')}} alt="Immagine del laboratorio, e del sistema di digitalizzazione.">   
                  </div>
                  <div class="text col-lg-6 col-md-12 col-12">
                    <p class="h6">STUDIARE I CODICI</p>
                    <h1>La nuova sala consultazione</h1>
                    <p>
                        I primi, incoraggianti risultati del progetto hanno indotto l’Ateneo, con delibera del Consiglio di Amministrazione del 1 febbraio 2019, a investire ulteriori ingenti risorse per l’acquisto di strumentazione più performante e per assicurare il personale necessario a supporto delle attività di ricerca: il progetto DascabiDa è così confluito nel neonato Laboratorio di studi Medievali e Danteschi (LaMeDan) del Dipartimento di Culture e Civiltà.
                    Con la fattiva collaborazione del Sistema Bibliotecario di Ateneo e dell’Ufficio Tecnico dell’Università di Verona, è stata quindi progettata una nuova sala consultazione all’interno della Biblioteca Capitolare, da realizzare al secondo piano dell’edificio che già ospitava la vecchia sala, accanto alla quale sarebbe sorto il nuovo Laboratorio di diagnostica e digitalizzazione. 
                    
                        </p>
                  </div>
                </div>
              </section>

          <section id="convenzione" class="illaboratorio  py-5 ">
            <div class="row align-items-center container py-5 mx-auto bg-white">
                <div class="text col-lg-6 col-md-12 col-12">
                    <p class="h6">INSIEME PER SALVAGUARDARE IL PATRIMONIO</p>
                    <h1>La convenzione</h1>
                        <p>
                            L’Università di Verona, in data 19 marzo 2019, ha stipulato con il Capitolo della Cattedrale una <a href=https://www.univrmagazine.it/2019/03/19/firmata-la-convenzione-tra-universita-di-verona-e-biblioteca-capitolare/>convenzione</a> quinquennale che assicura la collaborazione tra 
                            le due istituzioni. La nuova sala consultazione e il nuovo laboratorio sono stati portati a termine in tempi record, attrezzati secondo tutti gli standard di sicurezza e funzionalità richiesti dalla normativa vigente, con un collegamento internet veloce direttamente connesso alla rete e alle banche dati di Ateneo messi 
                            gratuitamente a disposizione di tutti gli utenti che si registreranno presso la sala consultazione stessa. Il progetto vede attualmente impegnati, oltre ai docenti del LaMeDan (afferenti ai due dipartimenti di Culture e Civilità e di Informatica), un tecnologo, un bibliotecario dell’Università di Verona, due assegnisti di ricerca e una dottoranda, che collaborano a vario titolo nella gestione degli strumenti del Laboratorio e del sito web, e nella descrizione dei manoscritti e dei documenti dell’archivio.
                        </p>
                </div>
                <div class="img col-lg-6 col-md-12 col-12">
                    <div class="embed-responsive embed-responsive-4by3">
                        <iframe class="embed-responsive-item" width="400" height="315" src="https://www.youtube-nocookie.com/embed/eKSemEt2PNk" title="YouTube video player con video intervista Prof. Sartor sulla convenzione. " frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            </section>

        <section id="illaboratorio" class="illaboratorio  py-5 ">
            <div class="row align-items-center container py-5 mx-auto">
                <div class="img col-lg-6 col-md-12 col-12">
                    <img class="img-fluid" src={{url_for('static',filename='imgs/lab_1.jpeg')}} alt="Immagine del laboratorio, e del sistema di digitalizzazione.">   
                  </div>
                  <div class="text col-lg-6 col-md-12 col-12">
                    <p class="h6">ANALIZZARE E DIGIALIZZARE I CODICI</p>
                    <h1>Il laboratorio</h1>
                        <p>
                        Il laboratorio di analisi dei beni librari è dotato di strumentazione all'avanguardia per l'analisi
                        e la digitalizzazione dei beni culturali. Gli strumenti consentono non solo di digitalizzare ad
                        altissima risoluzione i beni della collezione, ma anche di indagarne lo stato conservativo e le 
                        tecniche esecutive.
                        Di fondamentale importanza la possibilità di effettuare analisi multispettrali, che consentono spesso di rivelare
                        punti di testo ormai illeggibili. <!-- Maggiori informazioni sugli strumenti possono essere trovate nella <a href='/strumenti'>pagina dedicata</a>. -->
                        </p>
                  </div>
                </div>
              </section>

        <div>
    </div>
</div>
</div>
{% endblock body %}
