{% extends 'layout.html' %}
{% block  body%}
<br>
<div class="container">
    
    <h1>L’archivio digitale</h1>
    <h2>
        L’Archivio del Capitolo dei canonici della Cattedrale di Verona
    </h2>
    <p id=arch></p>
    L’Archivio del Capitolo dei canonici della Cattedrale di Verona conserva la documentazione prodotta o raccolta da questo ente a partire dalla sua fondazione, nel IX secolo, e ne documenta quindi senza soluzione di continuità, pur con le ovvie perdite e lacune dovute al tempo, l’attività fino ai giorni nostri.
    
    L’Archivio si suddivide in due serie: registri e pergamene. Quest’ultima, comprendente attualmente 10.249 unità, è l’oggetto della digitalizzazione che viene qui resa consultabile.
    
    La serie delle pergamene fu oggetto di un riordino da parte di Alessandro Canobbio nel XVI secolo, che curò alcuni repertori e collocò i rotoli in due armadi, a loro volta distinti in calti (cassetti) e mazzi composti da 15 pergamene: l’antica collocazione era così identificata per armadio (A e B), numero di calto, mazzo e pergamena.
    
    Questo ordinamento, sconvolto in gran parte dall’alluvione dell’Adige del 1882, venne rivisto da monsignor Giuseppe Turrini negli anni Venti del secolo scorso Egli ripulì e spianò tutte le pergamene, che vennero distribuite in tre serie di cartelle, distinte per dimensione (I, II e III), e collocate al loro interno in ordine cronologico, cosicché l’attuale identificazione avviene indicando serie, cartella e foglio (recto e verso).
    
    La corrispondenza con il precedente ordinamento di Canobbio è assicurata da un registro che mette in relazione l’antica collocazione con la nuova e da uno schedarietto ordinato cronologicamente in cui è riportata per ogni singola pergamena la data, il notaio, la nuova e l’antica collocazione.
    <h2>
        Documenti da altri archivi
    </h2>
   
    Tra la documentazione confluita nell’Archivio del Capitolo antecedentemente al riordino di Canobbio sono da segnalare per consistenza gli atti riguardanti l’abazia di Santa Maria della Vangadizza, monastero camaldolese sul basso corso dell’Adige, forse qui pervenuti alla fine del XV secolo dopo essere stati raccolti nell’archivio di San Salvar Corte Regia da cui il monastero dipendeva. La ragione della confluenza di questo archivio in quello del Capitolo canonicale si deve probabilmente alla presenza ai vertici del monastero di membri del Capitolo. Da segnalare infine che nel riordinamento effettuato da monsignor Giuseppe Turrini vennero inserite in questo fondo anche alcune pergamene raccolte da Scipione Maffei e dunque estranee alle vicende di questo ente.
    
    In Biblioteca capitolare, ma distinta dall’Archivio capitolare, sono pure conservate alcune serie di pergamene di altri archivi: un primo gruppo dovuto a un dono di Francesco Pellegrini (44 rotoli, dal 1265); a questo si aggiungono 23 diplomi e 139 rotoli collocati in 7 cartelle e le pergamene dell’archivio Giuliari, con 1.147 rotoli e 218 diplomi. Infine, una cospicua serie di pergamene – ma allo stato attuale non definibile nella consistenza e negli estremi cronologici – è nell’archivio Fumanelli, donato alla Capitolare in anni recenti.
    
    <h2>
        Le trascrizioni e le edizioni
    </h2>
    La documentazione dell’Archivio capitolare è stata oggetto in passato di numerosi studi, che ne hanno visto anche la parziale trascrizione. Tra questi, si segnalano i manoscritti di Carlo Carinelli, Giuseppe Muselli, Bartolomeo Campagnola e Gian Giacomo Dionisi, particolarmente importanti anche perché realizzati prima dell’alluvione del 1882 che ha reso illeggibili una parte delle pergamene. Oltre a edizioni di singoli documenti presenti in diverse pubblicazioni di questi stessi studiosi, le pergamene dell’Archivio capitolare sono edite fino al 963 nel Codice Diplomatico Veronese curato da Vittorio Fainelli e per gli anni 1100-1183
    
    nei due volumi de Le carte del capitolo della Cattedrale di Verona, curati da Emanuela Lanza; la più antica documentazione, con scritture dei secoli VIII e IX, è edita e riprodotta nella seconda serie delle Chartae Latinae Antiquiores (LX, Italy XXXII, Verona II).
    
    <h2>
        Il progetto di digitalizzazione
    </h2>
    
    
    Il progetto di digitalizzazione dell’Archivio capitolare prevede la schedatura dei dati identificativi delle pergamene e dei diplomi e la loro riproduzione ad altissima risoluzione, anche con analisi multispettrale per rendere leggibili le parti dilavate o danneggiate, disponibili alla consultazione in accesso aperto. L’attuale schedatura, basata sul Codice digitale degli archivi veronesi, individua i singoli atti documentati, indicando: collocazione (fondo, serie, numero) della pergamena, data cronica (così come indicata in repertori o strumenti di consultazione o edizioni), notaio, indicazione se originale o copia ed eventuale antica collocazione, così come riportata da repertori o attergati.
    
    <h2>
        La ricerca e consultazione
    </h2>
   
    
    Il database dell’Archivio permette di ricercare per intervallo di date, per nome del notaio, collocazione attuale e antica; dalla ricerca è possibile accedere direttamente alle riproduzioni dei documenti. È altresì possibile scorrere le pergamene secondo l’ordine di collocazione, che corrisponde approssimativamente, entro le singole serie, anche a quello cronologico.
    
    <h4>
        Bibliografia
    </h4>
   
    <h5>
        Studi
    </h5>
 
    <ol>
        <li>
            G. ZIVELONGHI, Strumenti e spunti di ricerca nei documenti dell’Archivio Capitolare di Verona, in Verona dalla caduta dei Carolingi al libero comune, Convegno del 24-26 maggio 1985, Atti, Verona 1987, pp. 117-176
        </li>
        <li>
            A. CASTAGNETTI, Il capitolo della cattedrale: note di storia politica e sociale, in Le carte del capitolo della cattedrale di Verona. I. (1101-1151), a cura di E. Lanza, Roma 1998, pp. V-LIX
        </li>
        <li>
            G.M. VARANINI, Note sull’archivio del capitolo della cattedrale di Verona fra XII e XIII secolo, in Le carte del capitolo della cattedrale di Verona. II. (1152-1183), a cura di E. Lanza, Roma 2006, pp. XI-LXV
        </li>
        <li>

        </li>
    </ol>
    
    
    <h5>
        Edizioni di documenti
    </h5>
    <ol>
        <li>
            Codice diplomatico veronese dalla caduta dell’Impero romano alla fine del periodo carolingio, a cura di V. Fainelli, Venezia 1940

        </li>
        <li>
            Codice diplomatico veronese del periodo dei re d’Italia, a cura di V. Fainelli, Venezia 1963
        </li>
        <li>
            Le Carte del capitolo della cattedrale di Verona. I. (1101-1151), a cura di E. Lanza, Roma 1998 [Fonti per la storia della Terraferma veneta, 13]
        </li>
        <li>
            Le Carte del capitolo della cattedrale di Verona. II. (1152-1183), a cura di E. Lanza, Roma 2006 [Fonti per la storia della Terraferma Veneta, 22].
        </li>
        <li>
            Chartae Latinae Antiquiores. Facsimile edition of the latin charters, 2nd series, Ninth century, edited by G. Cavallo, G. Nicolaj, LIX, Italy XXXI. Verona I, published by F. Santoni, Dietikon-Zurich 2001,
        </li>
        <li>
            Chartae Latinae Antiquiores. Facsimile edition of the latin charters, 2nd series, Ninth century, edited by G. Cavallo, G. Nicolaj, LX, Italy XXXII. Verona II, publisched by F. Santoni, Dietikon-Zurich 200
        </li>
    </ol>
    
    
    
    
    
<h4>Ricerca basata sui dati del Catalogo di don Spagnolo.</h1>

<p>
Questa applicazione permette di esplorare il contenuto della biblioteca Capitolare sulla base dei dati del catalogo storico di don Spagnolo e di alcuni supplementi.
La grandezza relativa del cerchio rappresenta il numero dei fogli contenuti nel bene. Il colore del cerchio indica il materiale
delle carte: 
 <span style="color: #7f7fff">●</span>membranaceo,
 <span style="color: #ffd27f">●</span>cartaceo,
<span style="color: #ebb5eb">●</span>bombacino.
 Il bordo del cerchio indica se il bene è conservato come: 
  <span style="color: #ff7a5e"> ○</span>fogli sciolti
 <span style="color: #800000"> ○</span>in fascicoli 
 o  <span style="color: #57a043"> ○</span> rilegato.
</p>
Il colore grigio indica invece, che il campo non è disponibile.
<p style="font-size:0.9vw">
<i >L'applicazione e basata su <a href="https://bokeh.org/">Bokeh</a> integrando i dati contenuti nel "I manoscritti della Biblioteca Capitolare di Verona :
    catalogo descrittivo redatto da Antonio Spagnolo a cura di Silvia Marchi".</i>
</p>
<script id="1000">
    var xhr = new XMLHttpRequest()
    xhr.responseType = 'blob';
    xhr.open('GET', "http://lezioni.meneghetti.univr.it:5008/bokeharchivio/autoload.js?bokeh-autoload-element=1000&bokeh-app-path=/bokeharchivio&bokeh-absolute-url=http://lezioni.meneghetti.univr.it:5008/bokeharchivio", true);
    
    xhr.onload = function (event) {
      var script = document.createElement('script'),
      src = URL.createObjectURL(event.target.response);
      script.src = src;
      document.body.appendChild(script);
    };
  xhr.send();
  </script>
</div>
{% endblock  %}

 