{% extends 'layout.html' %}
{% block  body%}

<div class="container withnavbar">
    <br>
    <div class="row">
        <div class="sidenav">
            <p><b>Indice:</b></p>
            <a href="#intr">Introduzione</a>
            <a href="#site">Utilizzo base del sito</a>
            <a href="#espl">Esplorare la collezione con i grafici interattivi</a>
            <a href="#iiif">Sfruttare il protocollo IIIF</a>
            <a href="#rice">Ricerca avanzata</a>
            <a href="#cita">Citare i manoscritti (Zotero)</a>
            <a href="#aapi">Acesso alle API</a>
            <a href="#bknd">Back-end</a>
        </div>
        <div class="col-md-7 col-sm-6">
        <section id="intr">
        <h3>Come funziona il sito</h3>
        <p>
            Questa pagina oltre a dare indicazioni più dettagliate su come usare il portale e le sue potenzialità, 
            descrive le tecnologie utilizzate e come queste interagiscono tra di loro. Gli strumenti sviluppati dal
            laboratorio sono elencati nella pagina dedicata, la sezione credits include ulteriori informazioni su
            contributi al portale da terze parti.    
        </p>
        </section>
        <section id="site">
            <h3> Utilizzo base del sito</h3>
            <p>
                Se non lo si è già fatto si consiglia di scorrere la <a href="\">home</a>
                del sito che funge da tutorial introduttivo alle funzionalità principali. Il sito è pensato per aiutare il lavoro degli studiosi che studiano la collezione
                o beni specifici di essa. 
            </p>
        </section>
        <section id="espl">
            <h3> Esplorare la collezione con i grafici interattivi</h3>
            <p></p>
        </section>
        <section id="iiif">
            <h3> Sfruttare il protocollo IIIF</h3>
            <p></p>
        </section>
        <section id="rice">
            <h3> Ricerca avanzata</h3>
            <p></p>
        </section>
        <section id="cita">
            <h3> Citare i manoscritti (Zotero)</h3>
            <p></p>
        </section>
        <section id="aapi">
            <h3> Acesso alle API</h3>
            <p></p>
        </section>
        <section id="bknd">
            <h3> Back-end</h3>
            <p></p>
        </section>
        <div>
    </div>
</div>
{% endblock body %}
