{% extends 'layout.html' %}
{% block  script_section%}
<script>
window.onload = function(){ 
  document.getElementById('focusbtn').onclick = function() {
  document.getElementById('autocomplete').focus();
  };};
</script> 
{% endblock script_section %}
{% block  body%}
{% include 'includes/carousel.html' %}
<section id="about" class="about py-5 ">
  <div class="row align-items-center container py-5 mx-auto">
    <div class="text col-lg-6 col-md-12 col-12">
      <h1>IL PROGETTO</h1>
      <h2>Insieme per proteggere, digitalizzare e valorizzare</h2>
      <p>
        Il sito Capitolar-e è frutto di un progetto di ricerca interdisciplinare nato dalla collaborazione 
        tra i Dipartimenti di <a href=https://www.dcuci.univr.it/>Culture e Civiltà</a> e di <a href=https://www.di.univr.it/>Informatica</a> insieme al <a href=https://www.univr.it/it/organizzazione/sistema-bibliotecario-di-ateneo/>Sistema Bibliotecario di Ateneo</a> dell’Università di Verona.
        Il progetto ha preso avvio grazie a un consistente finanziamento dell’ateneo 
        veronese ed è stato reso possibile grazie a una convenzione stipulata con 
        la <a href=http://bibliotecacapitolare.org/en/the-biblioteca-capitolare-of-verona/>Biblioteca Capitolare di Verona</a>. Attualmente vede impegnati docenti di 
        diverse discipline afferenti ai due dipartimenti, ricercatori, assegnisti,
        dottorandi. Sono attivi accordi di scambio e collaborazione con enti e atenei 
        di altre parti d’Italia.
      </p>
      <p>
        Per saperne di più visita la <a href="/about">pagina dedicata</a>.
      </p>
 <!--   <p> L'<a href=https://www.univr.it/it/>Università di Verona</a> in collaborazione con la <a href=http://bibliotecacapitolare.org/en/the-biblioteca-capitolare-of-verona/>Fondazione Biblioteca Capitolare </a>
        ha iniziato una campagna di analisi, digitalizzazione e valorizzazione
        dei beni culturali contenuti all'interno della Biblioteca Capitolare di Verona.
        Il progetto multidisciplinare coinvolge il <a href=https://www.dcuci.univr.it/>Dipartimento di Culture e Civiltà</a> ed il <a href=https://www.di.univr.it/>Dipartimento di Informatica</a>
        insieme al <a href=https://www.univr.it/it/organizzazione/sistema-bibliotecario-di-ateneo/>Sistema Bibliotecario di Ateneo</a>.
        Questo sito ospita le risorse digitali del progetto.</p> -->
    </div>
    <div class="img col-lg-6 col-md-12 col-12">
      <img class="img-fluid" src={{url_for('static',filename='imgs/unispiralecolori.svg')}} alt="Disegno esemplificativo con i nomi dei partecipanti del progetto.">  
    </div>
  </div>
</section>

<section id="lefasi" class="esplora  py-5 ">
  <div class="row  align-items-center container py-5 mx-auto">
    <div class="img col-lg-6 col-md-12 col-12 " alt="Grafico rappresentante le dimensioni ed il numero dei beni contenuti nella collezione.">
      <img class="img-fluid" src={{url_for('static',filename="imgs/disegno_spagnoloarchivio_colori.svg")}}  alt="Grafico rappresentante le dimensioni ed il numero dei beni contenuti nella collezione."></script>      
    </div>
    <div class="text col-lg-6 col-md-12 order-first col-12">
      <h1>Tra antico e innovazione.</h1>
      <p> Nella prima fase del progetto abbiamo progettato un nuovo sistema avanzato di catalogazione.
        Abbiamo inoltre cominciato a rendere disponibili i dati raccolti nelle precedenti campagne di catalogazione (Catalogo storico di Antonio Spagnolo) 
        e digitalizzazione (<i><a href="https://cdavr.dtesis.univr.it">Codice digitale degli archivi veronesi</a></i>, a cura di Andrea Brugnoli).

        Esplora i dati della catalogazione antica <a href="/esplora">usando l'applicazione interattiva</a>.
        
       </p>
    </div>
  </div>
</section>

<section id="esplora" class="esplora  py-5 ">
  <div class="row  align-items-center container py-5 mx-auto">
    <div class="img col-lg-6 col-md-12 col-12 " alt="Grafico rappresentante le dimensioni ed il numero dei beni contenuti nella collezione.">
        <script src={{url_for('static',filename="plotbib.js")}} id="eaf7fd24-7155-4ec8-9042-17bb84d01aea" alt="Grafico rappresentante le dimensioni ed il numero dei beni contenuti nella collezione."></script>      
    </div>
    <div class="text col-lg-6 col-md-12 order-first col-12">
      <h6>VISUALIZZA I DATI SULLA COLLEZIONE</h6>
      <h1>Metodi innovativi per visualizzare ed esplorare la collezione</h1>
      <p>Oltre ad una catalogazione approfondita dei beni contenuti, il progetto prevede la collaborazione con il dipartimento di Informatica 
        dell'Università di Verona per mettere a disposizione nuovi modi per studiare la collezione.
      </p>
    </div>
  </div>
</section>

<section id="vai" class="vari  py-5 ">
  <div class="row align-items-center container py-5 mx-auto">
    <div class="text col-lg-6 col-md-12 col-12">
      <h6>SUBITO AL CODICE</h6>
      <h1>Sai già cosa stai cercando?</h1>
      <p>Se sai già la segnatura del codice che stai cercando inseriscila sul
        campo segnatura e vai direttamente al bene che stai studiando! <i>Lege feliciter!</i>
        Prova a digitare LXI...
        <p>
        <button id="focusbtn" type="button" class="btn btn-primary">Vai al campo segnatura</button>
       </p>
      </p>
    </div>
    <div class="img col-lg-6 col-md-12 col-12">
      <img class="img-fluid" src={{url_for('static',filename='imgs/tutorial.gif')}} alt="Gif che mostra come ricercare un codice conoscendo la segnatura.">   
    </div>
  </div>
</section>


</div>
{% endblock body %}
