{% extends 'layout.html' %}
{% block  body%}

<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <ol class="carousel-indicators">
    <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"></li>
    <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"></li>
    <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="5000">
      <img src={{url_for('static',filename='imgs/1.jpeg')}} class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>La biblioteca Capitolare di Verona.</h5>
        <p>La biblioteca Capitolare di Verona ha un patrimonio di oltre un migliaio di manoscritti alcuni risalenti ai primi secoli dopo Cristo.</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="5000">
      <img src={{url_for('static',filename='imgs/2.jpeg')}} class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Digitalizzazione dei beni librari.</h5>
        <p>Digitalizazioni fino a 100 Mega Pixel, per preservare ogni minimo dettaglio.</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="5000">
      <img src={{url_for('static',filename='imgs/3.jpeg')}} class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Restituire il perduto.</h5>
        <p>Tecniche di imaging avanzato per leggere i testi non più leggibili.</p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </a>
</div>

<!-- Finito carolsello -->

<section id = "about">
  <div class="container">
    <div class="row align-items-center py-5 mx-auto">
      <div class="col-md">
        <h6>IL PROGETTO</h6>
        <h1>Insieme per proteggere, digitalizzare e valorizzare</h1>
        <p> Il laboratorio LaMeDan dell'Università di Verona in convenzione con la Fondazione Biblioteca Capitoalre
          ha iniziato una campagna di digitalizzazione e valorizzazione
          dei beni culturali contenuti all'interno della Biblioteca Capitolare di Verona.
          Questo sito ospita le risorse digitali del progetto.</p>
  
  
      </div>
      <div class="img col-md ">
        <img class="img-fluid" src={{url_for('static',filename='imgs/unispiralecolori.svg')}}>
      </div>
</section>

<section id="esplora">
  <div class="container">
    <div class="row align-items-center py-5 mx-auto">

      <div class="col-md">
        <h6>VISUALIZZA I DATI SULLA COLLEZIONE</h6>
        <h1>Metodi innovativi per visualizzare ed esploare la collezione</h1>
        <p>Oltre ad una catalogazione approfondita dei beni contenuti, il prgetto prevede la collaborazione con il dipartimento di Informatica 
          dell'Università di Verona per mettere a disposizione nuovi modi per studiare la collezione.
        </p>
      </div>
      
      <div class="img col-md">
        <script src={{url_for('static',filename="plotbib.js")}} id="6b9e92e7-4d69-4301-a924-c04fd2d341f7"></script>      
      </div>
    </div>
  </div>

</section>

<section id="vai" class="vari  py-5 ">
  <div class="row align-items-center container py-5 mx-auto">
    <div class="text col-lg-6 col-md-12 col-12">
      <h6>PER GLI STUDIOSI</h6>
      <h1>Sai già cosa stai cercando?</h1>
      <p>Se sai già la segnatura del codice che stai cercando inseriscila sul
        campo segnatura e vai direttamente al bene che stai studiando! <i>Lege feliciter!</i>
      </p>


    </div>
    <div class="img col-lg-6 col-md-12 col-12">
      <img class="img-fluid" src={{url_for('static',filename='imgs/tutorial.gif')}}>
      
    </div>
  </div>

</section>

<section id="ricerca" class="esplora  py-5 ">
  <div class="row align-items-center container py-5 mx-auto">
    <div class="img col-lg-6 col-md-12 col-12 w-50">
      <img class="img-fluid" src={{url_for('static',filename='imgs/logounivr.svg')}}>
      
    </div>
    <div class="text col-lg-6 col-md-12 col-12 w-50">
      <h6>ESPLORA</h6>
      <h1>Metodi innovativi per visualizzare ed esploare la collezione</h1>
      <p>Il prgetto prevede la collaborazione con il dipartimento di Informatica 
        dell'Università di Verona per mettere a disposizione nuovi modi per studiare la collezione.
        Oltre ad una catalogazione approfondita dei beni contenuti.

      </p>


    </div>
    
  </div>

</section>
</div>
{% endblock body %}
