{% extends 'layout.html' %}
{% block  script_section%}
<script>
window.onload = function(){ 
  
  document.getElementById('focusbtn').onclick = function() {
  document.querySelector("#navbarCapi > div > button > span").click();
  document.getElementById('autocomplete').focus();
  };};
</script> 
{% endblock script_section %}
{% block  body%}
{% include 'includes/carousel.html' %}
<div id="content">
<section id="about" class="about py-5 ">
  <div class="row align-items-center container py-5 mx-auto">
    <div class="text col-lg-6 col-md-12 col-12 bg-white">
      <h1>IL PROGETTO</h1>
      <h2>Insieme per proteggere, digitalizzare e valorizzare</h2>
      <p>
        Il sito capitolar-e è frutto di un progetto di ricerca interdisciplinare nato dalla collaborazione 
        tra i dipartimenti di <a href=https://www.dcuci.univr.it/>Culture e Civiltà</a> e di <a href=https://www.di.univr.it/>Informatica</a> insieme al <a href=https://www.univr.it/it/organizzazione/sistema-bibliotecario-di-ateneo/>Sistema Bibliotecario di Ateneo</a> dell’Università di Verona.
        Il progetto ha preso avvio grazie a un consistente finanziamento dell’ateneo 
        veronese ed è stato reso possibile grazie a una convenzione stipulata con 
        la <a href=http://bibliotecacapitolare.org/en/the-biblioteca-capitolare-of-verona/>Biblioteca Capitolare di Verona</a>. Attualmente vede impegnati docenti di 
        diverse discipline afferenti ai due dipartimenti, ricercatori, assegnisti,
        dottorandi. Sono attivi accordi di scambio e collaborazione con enti e atenei 
        di altre parti d’Italia.
      </p>
      <div class="row">
        <div class="img col">
          <picture>
            <source srcset={{url_for('static',filename='imgs/logounivr400.avif')}} type="image/avif">
            <source srcset={{url_for('static',filename='imgs/logounivr400.png')}} type="image/png"> 
            <img class="img-fluid" src={{url_for('static',filename='imgs/logounivr400.png')}} alt="Logo dell'Università di Verona.">
          </picture>
            
        </div>
        <div class="img col">
          <a href=http://bibliotecacapitolare.org/en/the-biblioteca-capitolare-of-verona/>
          <picture>
            <source srcset={{url_for('static',filename='imgs/logocapitolare.avif')}} type="image/avif">
            <source srcset={{url_for('static',filename='imgs/logocapitolare.png')}} type="image/png"> 
          <img class="img-fluid" src={{url_for('static',filename='imgs/logocapitolare.png')}} alt="Logo della Biblioteca Capitolare di Verona.">
          </picture>
        </a>  
        </div>
      </div>
      <p>
        Per saperne di più visita la <a href="/about">pagina dedicata</a>.
      </p>

 <!--   <p> L'<a href=https://www.univr.it/it/>Università di Verona</a> in collaborazione con la <a href=http://bibliotecacapitolare.org/en/the-biblioteca-capitolare-of-verona/>Fondazione Biblioteca Capitolare </a>
        ha iniziato una campagna di analisi, digitalizzazione e valorizzazione
        dei beni culturali contenuti all'interno della Biblioteca Capitolare di Verona.
        Il progetto multidisciplinare coinvolge il <a href=https://www.dcuci.univr.it/>Dipartimento di Culture e Civiltà</a> ed il <a href=https://www.di.univr.it/>Dipartimento di Informatica</a>
        insieme al <a href=https://www.univr.it/it/organizzazione/sistema-bibliotecario-di-ateneo/>Sistema Bibliotecario di Ateneo</a>.
        Questo sito ospita le risorse digitali del progetto.</p> -->
    </div>
    <div class="img col-lg-6 col-md-12 col-12">
      <img class="img-fluid" src={{url_for('static',filename='imgs/unispiralecolori_ns.svg')}} alt="Disegno esemplificativo con i nomi dei partecipanti del progetto.">  
    </div>
  </div>
</section>

<section id="lefasi" class="esplora  py-5 ">
  <div class="row  align-items-center container py-5 mx-auto">
    <div class="img col-lg-6 col-md-12 col-12 " alt="Disegno esemplificativo che rappresenta i temi della ricerca, nuovo catalogo digitale, catalogo storico ed archivio capitolare.">
      <img class="img-fluid" src={{url_for('static',filename="imgs/disegno_spagnoloarchivio_colori.svg")}}  alt="Disegno esemplificativo che rappresenta i temi della ricerca, nuovo catalogo digitale, catalogo storico ed archivio capitolare."></script>      
    </div>
    <div class="text col-lg-6 col-md-12 order-first col-12">
      <!-- <h1>Tra antico e innovazione.</h1> -->
      <p>
      Il sito capitolar-e mette a disposizione ad accesso aperto la digitalizzazione di risorse della Biblioteca Capitolare di Verona: un aggiornato catalogo dei manoscritti associato alle riproduzioni dei codici, il catalogo storico dei manoscritti e l’archivio del Capitolo dei canonici e di altri fondi qui conservati.
      <br>
      <p class="h5"><a href="/ricerca">Nuovo catalogo digitale </a> </p>
        Il nuovo catalogo digitale, realizzato secondo i più aggiornati standard scientifici, è il cuore del progetto. 
        La visualizzazione delle riproduzioni ad altissima definizione avviene attraverso le 
        sue schede, che permettono di identificare tutte le unità interne dei codici e di 
        accedervi direttamente. Oltre alle riproduzioni ad altissima definizione e
         multispettrali, vengono rese disponibili anche le digitalizzazioni di precedenti 
         campagne di riproduzione.
        <br>
        <p class="h5"><a href="/esplora">Catalogo storico </a></p>
        Il catalogo storico mette a disposizione i principali dati identificativi dei 
        manoscritti della Biblioteca Capitolare, così come erano stati descritti da Antonio Spagnolo 
        alla fine del XIX secolo, collegandoli alle loro riproduzioni digitali. Il catalogo
        storico di Spagnolo, assieme alle sue prosecuzioni, è uno strumento che risulta 
        tutt’oggi indispensabile per l’identificazione dei codici.
        <br>
        <p class="h5"><a href="/archivio"> Archivio </a> </p>
        La digitalizzazione dell’archivio del Capitolo del canonici, basato per ora sulle 
        schede del <a href="http://cdavr.dtesis.univr.it/">Codice digitale degli archivi veronesi</a>, permette di ricercare e 
        visualizzare i documenti qui conservati, risalenti per le pergamene più antiche
        all’VIII secolo. Il progetto prevede di estendere questa sezione anche ad altri
        fondi conservati nella Biblioteca Capitolare, tra cui l’archivio dello storico
        Luigi Simeoni.
      </p>
      <!-- <p> Nella prima fase del progetto abbiamo progettato un nuovo sistema avanzato di catalogazione.
        Abbiamo inoltre cominciato a rendere disponibili i dati raccolti nelle precedenti campagne di catalogazione (Catalogo storico di Antonio Spagnolo) 
        e digitalizzazione (<i><a href="https://cdavr.dtesis.univr.it">Codice digitale degli archivi veronesi</a></i>, a cura di Andrea Brugnoli).

        Esplora i dati della catalogazione antica <a href="/esplora">usando l'applicazione interattiva</a>.
        
       </p> -->
    </div>
  </div>
</section>

<section id="formazione" class="about py-5  ">
  <div class="row align-items-center container py-5 mx-auto">
    <div class="text col-lg-6 col-md-12 col-12 ">
      <p class="h6">FORMAZIONE E DIVULGAZIONE</p>
      <h1>Alta formazione e prodotti della ricerca</h1>
      <p>
        Il progetto dissemina i risultati  e le conoscenze acquisite attraverso diverse modalità per 
        raggiungere gli studiosi ma intende altresì rivolgersi al grande pubblico. 
      </p>
      Consulta le varie sezioni per ottenere maggiori informazioni su:
    <div class="list-group">
      <a href=/altaformazione class="list-group-item list-group-item-action list-group-item-info">Offerta formativa</a>
      <a href="/prodottidellaricerca" class="list-group-item list-group-item-action list-group-item-info">Pubblicazioni e contenuti open-access</a>
      <a href="/media" class="list-group-item list-group-item-action list-group-item-info">Apparizioni sui media</a>
    </div>
     
 <!--   <p> L'<a href=https://www.univr.it/it/>Università di Verona</a> in collaborazione con la <a href=http://bibliotecacapitolare.org/en/the-biblioteca-capitolare-of-verona/>Fondazione Biblioteca Capitolare </a>
        ha iniziato una campagna di analisi, digitalizzazione e valorizzazione
        dei beni culturali contenuti all'interno della Biblioteca Capitolare di Verona.
        Il progetto multidisciplinare coinvolge il <a href=https://www.dcuci.univr.it/>Dipartimento di Culture e Civiltà</a> ed il <a href=https://www.di.univr.it/>Dipartimento di Informatica</a>
        insieme al <a href=https://www.univr.it/it/organizzazione/sistema-bibliotecario-di-ateneo/>Sistema Bibliotecario di Ateneo</a>.
        Questo sito ospita le risorse digitali del progetto.</p> -->
    </div>
    <div class="img col-lg-6 col-md-12 col-12">
      <picture>
        <source srcset={{url_for('static',filename='imgs/master.avif')}} type="image/avif">
        <source srcset={{url_for('static',filename='imgs/master.png')}} type="image/png"> 
      <img class="img-fluid" src={{url_for('static',filename='imgs/master.png')}} alt="Basso rilevo che mostra un maestro con dei discepoli.">  
      </picture>
    </div>
  </div>
</section>
<!-- 
<section id="esplora" class="esplora  py-5 ">
  <div class="row  align-items-center container py-5 mx-auto">
    <div class="img col-lg-6 col-md-12 col-12 " alt="Grafico rappresentante le dimensioni ed il numero dei beni contenuti nella collezione.">
        <script src={{url_for('static',filename="plotbib.js")}} id="eaf7fd24-7155-4ec8-9042-17bb84d01aea" alt="Grafico rappresentante le dimensioni ed il numero dei beni contenuti nella collezione."></script>      
    </div>
    <div class="text col-lg-6 col-md-12 order-first col-12">
      <h6>VISUALIZZA I DATI SULLA COLLEZIONE</h6>
      <h1>Metodi innovativi per visualizzare ed esplorare la collezione</h1>
      <p>Oltre ad una catalogazione approfondita dei beni contenuti, il progetto prevede la collaborazione con il dipartimento di Informatica 
        dell'Università di Verona per mettere a disposizione nuovi modi per studiare la collezione.
      </p>
    </div>
  </div>
</section>

 -->
<section id="vai" class="vari  py-5 bg-white">
  <div class="row align-items-center container py-5 mx-auto">
    <div class="text col-lg-6 col-md-12 col-12">
      <p class="h6">SUBITO AL CODICE</p class="h6">
      <h1>Sai già cosa stai cercando?</h1>
      <p>Se sai già la segnatura del codice che stai cercando inseriscila sul
        campo segnatura e vai direttamente al bene che stai studiando! <i>Lege feliciter!</i>
        Prova a digitare LXI... <span class="visually-hidden">Segue un pulsante che permette di andare direttamente al campo segnatura. Una volta digitato, premendo la freccia in basso è possibile accedere ai contenuti che cominciano con la segnatura indicata. Premere due volte invio per selezionare il bene. </span>
        <p>
        <button id="focusbtn" type="button" class="btn btn-primary">Vai al campo segnatura</button>
       </p>
      </p>
    </div>
    <div class="img col-lg-6 col-md-12 col-12">
      <img class="img-fluid" src={{url_for('static',filename='imgs/tutorial2.gif')}} alt="Gif che mostra come ricercare un codice conoscendo la segnatura.">   
    </div>
  </div>
</section>


</div>
{% endblock body %}
