<!doctype html>
<html lang="it">
  <head>
    <!-- Se non commentato il sito non verra indicizzato -->
    <meta name="robots" content="noindex">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1 , shrink-to-fit=no">
    <!--- Hints search https://stackoverflow.com/questions/34704997/jquery-autocomplete-in-flask future upgrade https://stackoverflow.com/questions/3488016/using-html-in-jquery-ui-autocomplete-->
    <link href="//code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet"></link>
    <script src="//code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="//code.jquery.com/ui/1.10.2/jquery-ui.js" ></script>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link href={{ url_for("static",filename="custom.css") }} rel="stylesheet" type="text/css" >
    {% block header %}
    {% endblock header %}
  <title>Capitolar-e</title>

  <!--  myfavicon  -->
  <link rel="shortcut icon" href="{{ url_for('static', filename='myfavicon.ico') }}">


<link rel="apple-touch-icon"
      sizes="180x180"
      href="{{ url_for('static', filename='apple-touch-icon.png') }}">

<link rel="icon"
      type="image/png"
      sizes="180x180"
      href="{{ url_for('static', filename='myfavicon-32x32.png') }}">

<link rel="icon"
      type="image/png"
      sizes="16x16"
      href="{{ url_for('static', filename='myfavicon-16x16.png') }}">

<link rel="manifest"
      href="{{ url_for('static',filename='site.webmanifest')}}">

  <script type="text/javascript">
  $(function() {
      $("#autocomplete").autocomplete({
          autoFocus: true,
          source:function(request, response) {
              $.getJSON("{{url_for('autocomplete')}}",{
                  q: request.term, // in flask, "q" will be the argument to look for using request.args
              }, function(data) {
                  response(data.matching_results); // matching_results from jsonify
              });
          },
          minLength: 2,
          select: function(event, ui) {
              console.log(ui.item.value); // not in your question, but might help later
          }
      });
  })
 
  
  </script>

{% block script_section %}
{% endblock script_section %}


  </head>
<!--         NAVBAR        -->
{% include 'includes/navbar2.html' %}
<!--  Example data spy   -->
<!--     <body data-bs-spy="scroll" data-bs-target="#navbarCapi" data-bs-offset="150" tabindex="0">-->

<body data-bs-offset="150">
 <!--  <br> <br> -->
  <!-- <div class="alert alert-danger" role="alert">
    <p>
    Questo è un sito di prova con contenuti preliminari, le informazioni riportate potrebbero non essere accurate ed alcune funzionalità non essere disponibili.
    </p><p>
    This is a test website. The content might not be accurate and functional.
  </p>
  </div> -->
  {% block body %}
{% endblock body %}


<!-- Option 1: Bootstrap Bundle with Popper -->
<!-- Advanced footer -->
<!-- {# {% include 'includes/footer.html' %} #}-->

<footer>
  <hr>
  <p> Capitolar-e è gestito dal laboratorio <a class="bka" href=https://sites.hss.univr.it/laboratori_integrati/laboratorio-lamedan/>LaMeDan</a>, parte
    dei <a class="bka" href=https://sites.hss.univr.it/laboratori_integrati/>laboratori integrati</a>  dell'Università di Verona.
    Non esitare a contattarci per ulteriori informazioni. Parte del materiale utilizzato potrebbe essere soggetto a copyright © 2021. </p>
  <p>
    <a class="bka" href=/privacypolicy >Privacy Policy</a>
  <hr>
  </p>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
{% block dB_script_section %}
{% endblock dB_script_section %}

{% if cookies_check() %}
        {# then user has already consented so no requirement for consent banner #}
{% else %}
        {# show a cookie consent banner #}
        <div id="cookie-consent-container" class="cookie-consent-container">
          Questo sito o gli strumenti terzi da questo utilizzati si avvalgono di cookie necessari al funzionamento ed utili alle finalità illustrate nella cookie policy. Se vuoi saperne di più o negare il consenso a tutti o ad alcuni cookie, consulta la cookie policy. Chiudendo questo banner, scorrendo questa pagina, cliccando su un link o proseguendo la navigazione in altra maniera, acconsenti all’uso dei cookie.
          <a aria-label="learn more about cookies" role="button" tabindex="0" class="cc-link" href="https://www.univr.it/it/privacy#doc_26997" rel="noopener noreferrer nofollow" target="_blank">Info</a>
          <br>    
          <button class="btn btn-warning" id="cookie-consent" >Accetto</button>
        </div>
        <script>
            var fn = function () {
                document.cookie = "cookie_consent=true";
                document.getElementById('cookie-consent-container').hidden = true;
            };
            document.getElementById('cookie-consent').onclick = fn;
        </script>
{% endif %}
  </body>
</html>