{% extends 'layout.html' %}
{% block  body%}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Oops! Ci stiamo ancora lavorando!</h1>
                <h2>
                    404 Not Found</h2>
                <div class="error-details">
                    Il seguente record non è ancora pronto! Prova a contattarci per ulteriori informazioni!
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}
