{% extends 'layout.html' %}
{% block  body%}

<div class="container withnavbar">
    <br>
    <div class="row">
        <div class="sidenav">
            <p><b>Indice:</b></p>
            <a href="#intr">Introduzione</a>
            <a href="#oai">Open Archive Initiative</a>
            <a href="#ark">Archival Resource Key (ARK)</a>
            <a href="#iiif">Sfruttare il protocollo IIIF</a>
            <a href="#rice">Ricerca avanzata</a>
            <a href="#cita">Citare i manoscritti (Zotero)</a>
            <a href="#aapi">Accesso alle API</a>
            <a href="#bknd">Back-end</a>
        </div>
        <div class="col-md-7 col-sm-6">
        <section id="intr">
        <h3>Open-data</h3>
        <p>
            
        </p>
        </section>
        <section id="oai">
            <h3> Open Archive Initiative</h3>
            <p>
                Se non lo si è già fatto si consiglia di scorrere la <a href="\">home</a>
                del sito che funge da tutorial introduttivo alle funzionalità principali. Il sito è pensato per aiutare il lavoro degli studiosi che studiano la collezione
                o beni specifici di essa. 
            </p>
        </section>
        <section id="ark">
            <h3>>Archival Resource Key (ARK)</h3>
            <p></p>
        </section>
        <section id="iiif">
            <h3> Sfruttare il protocollo IIIF</h3>
            <p></p>
        </section>
        <section id="rice">
            <h3> Ricerca avanzata</h3>
            <p></p>
        </section>
        <section id="cita">
            <h3> Citare i manoscritti (Zotero)</h3>
            <p></p>
        </section>
        <section id="aapi">
            <h3> Acesso alle API</h3>
            <p></p>
        </section>
        <section id="bknd">
            <h3> Back-end</h3>
            <p></p>
        </section>
        <div>
    </div>
</div>
{% endblock body %}
