{% extends 'layout.html' %}
{% block  body%}

<div class="container withnavbar">
    <br>
    <div class="row">
        <div class="sidenav">
            <p><b>Indice:</b></p>
            <a href="#intr">Introduzione</a>
            <a href="#oai">Open Archive Initiative</a>
            <a href="#ark">Archival Resource Key (ARK)</a>
            <a href="#iiif">Sfruttare il protocollo IIIF</a>
            <a href="#rice">Ricerca avanzata</a>
            <a href="#cita">Citare i manoscritti (Zotero)</a>
            <a href="#aapi">Accesso alle API</a>
            <a href="#bknd">Back-end</a>
        </div>
        <div class="col-md-7 col-sm-6">
                <object  data="https://zenodo.org/communities/pptg/search?page=1&size=20" ></object>
        <div>
    </div>
</div>
{% endblock body %}
