{% extends 'layout.html' %}
{% block  body%}
<section class="progetti container">
<h1 class="bd-title" id="content">Progetti</h1>
<p class="bd-lead">Il portale Capitolar-<b>e</b> è stato creato come aggregatore per diversi progetti di ricerca, il principale è il progetto DascabiDa.
    Di seguito vengono riportati i principali progetti collegati al portale. </p>
</section>

<section class="progetti container">
<div class="progetti head">
<h3>DascabiDa</h3>
<h6>Dallo scriptorium carolingio alla biblioteca di Dante</h6>
</div>
<iframe width="560" height="315" src="https://www.youtube.com/embed/q8U-DiZHVUg?start=44" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<div class="bd-example">
    <p class="text-justify"> Il progetto DascabiDa ha dato vità al laboratorio LaMeDan ed alla convenzione tra la Fondazione Biblioteca Capitolare di Veorna
        e l'Università di Verona. In coincidenza con gli anniversari danteschi (2015 e 2021) della nascita e della morte del poeta, il progetto si prefigge di studiare e digitalizzare
        diversi codici contenuti all'interno della biblioteca.  Dante, che soggiornò a Verona tra il 1303-1304 ed il 1312-1320, potrebbe avere lasciato alcune annotazioni
        nei margini di alcuni manoscritti della biblioteca capitolare.
    </p>
</div>
<p>
    E questo è il testo.
</p>
</section>

<section class="progetti container">
    <div class="progetti head">
    <h3>Scriptorium Veronensis Ecclesiae</h3>
    <h6>Un altro progetto</h6>
    </div>
    <div class="bd-example">
        <p class="text-justify"> 
        </p>
    </div>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
    </p>
    </section>

{% endblock body %}
