{% extends 'layout.html' %}
{% block  body%}

<br>

  <div class="manbanner">
  <img src="http://lezioni.meneghetti.univr.it//imageapi/LXI/m0061_0visn20_0009a2.jp2/pct:2,18,80,7/800,/0/default.jpg" class="img-fluid mb5" id="imgmanu">
  <div class="mantext">{{codice['descrizione_esterna'][0]['Segnatura']}}</div>

  <table class="table">
      <tr>
      <td style="width:  2.33%">
        <img src="http://lezioni.meneghetti.univr.it//imageapi/LXI/m0061_0visn20_0000a2.jp2/1312,104,1904,7776/90,/180/default.jpg"  class="rounded mx-auto d-block" >
      </td>
      <td style="width:  10.33%" >

            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                  <a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Descrizione</a>
                </li>
                <li class="nav-item" role="presentation">
                  <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#Fac-similes" role="tab" aria-controls="Fac-similes" aria-selected="false">Fac-similes</a>
                </li>
                <li class="nav-item" role="presentation">
                  <a class="nav-link" id="contact-tab" data-bs-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
                </li>
            </ul>

        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

            
        <button class="accordion">Descrizione Esterna</button>
        <div class="panel">
          <div class="show">
          <p>

            {% if codice['descrizione_esterna'] %}
            {% for field in codice['descrizione_esterna'] %}
        <span>
        <table>
            <tr><td><b>Segnatura: </b></td><td>{{field['Segnatura']}}</td></tr>
            <tr><td><b>Datazione: </b></td><td>{{field['datazione']}}</td></tr>
            <tr><td><b>Tipologia di supporto e qualità: </b></td><td>{{field['tipo_di_supporto_e_qualita']}}</td></tr>
            <tr><td><b>Consistenza: </b></td><td>{{field['consistenza']}}</td></tr>
            <tr><td><b>Numerazione delle carte: </b></td><td>{{field['numerazione_carte']}}</td></tr>
            <tr><td><b>Carte di guardia: </b></td><td>{{field['carte_di_guardia']}}</td></tr>
            <tr><td><b>Prospetto fascicolazione: </b></td><td>{{field['prospetto_fascicolazione']|safe}}</td></tr>
            <tr><td><b>Arrangiamento dei fogli (regola di Gregory): </b></td><td>{{field['arrangiamento_fogli_gregory']}}</td></tr>
            <tr><td><b>Dimensioni: </b></td><td>{{field['dimensioni']}}</td></tr>
            <tr><td><b>Rigatura: </b></td><td>{{field['rigatura']}}</td></tr>
            <tr><td><b>Foratura: </b></td><td>{{field['foratura']}}</td></tr>
            <tr><td><b>Legatura: </b></td><td>{{field['legatura']}}</td></tr>
            <tr><td><b>Utente: </b></td><td>{{field['utenti_email']}}</td></tr>
            <tr><td><b>Palinsesto: </b></td><td>{{field['Descrizione_Esterna_Segnatura']}}</td></tr>
        </table>
        </span>
        <br>
            {% endfor %}
{% else %}
 <p> Nessun record inserito.</p>
{% endif %}
            </p>
          </div>
          </div>



<button class="accordion">Descrizione Interna</button>
        <div class="panel">
          <div class="show">
          <p>

            {% if  codice['descrizione_interna'] %}
            {% for field in codice['descrizione_interna'] %}
        <span >
          <h6>{{field['Descrizione_interna_id']}}</h6>
          <br>
          <table>
            <tr class="resultstr"><td><b>Autore: </b></td><td>{{field['autore']}}</td></tr>
            <tr class="resultstr"><td><b>Titolo: </b></td><td>{{field['titolo']}}</td></tr>
            <tr class="resultstr"><td><b>Rubrica: </b></td><td>{{field['rubrica']}}</td></tr>
            <tr class="resultstr"><td><b>Incipit: </b></td><td>{{field['incipit']}}  {% if field['incipit_url'] != "Non disponibile" %}<a href={{field['incipit_url']}} target="_blank">&#128270;&#x1F4F7;</a>{% endif %} </td></tr>
            <tr class="resultstr"><td><b>Explicit: </b></td><td>{{field['explicit']}}</td></tr>
            <tr class="resultstr"><td><b>Carte: </b></td><td>{{field['carte']}}</td></tr>
            <tr class="resultstr"><td><b>Testo di riferimento(segnatura): </b></td><td>{{field['Descrizione_Esterna_Segnatura']}}</td></tr>
        </table><hr><br>
        </span>
            {% endfor %}
            {% else %}
            <p> Nessun record inserito.</p>
            {% endif %}
            </p>
          </div>
          </div>


<button class="accordion">Copisti</button>
        <div class="panel">
          <div class="show">
          <p>
            {% if codice['copisti'] %}
            {% for field in codice['copisti'] %}
        <span >
            <h6>Copista {{field['id_cop']}}</h6>
            <br>
            <table>
            <tr><td><b>Datazione: </b></td><td>{{field['datazione']}}</td></tr>
            <tr><td><b>Intervallo carte: </b></td><td>{{field['intervallo_carte']}}</td></tr>
            <tr><td><b>Tipologia scrittura: </b></td><td>{{field['tipologia_scrittura']}}</td></tr>
            <tr><td><b>Testo di riferimento(segnatura): </b></td><td>{{field['Descrizione_Esterna_Segnatura']}}</td></tr>
        </table><hr><br>
   </span>

          
            {% endfor %}
            {% else %}
            <p> Nessun record inserito.</p>
            {% endif %}
            </p>
          </div>
          </div>


<button class="accordion">Annotazioni marginali</button>
        <div class="panel">
          <div class="show">
          <p>


            {% if codice['annotazioni_marginali'] %}
            {% for field in codice['annotazioni_marginali'] %}
        <span >
            <h6>Annotazione {{field['Id_auto_inc']}}</h6>
            <br>
            <table>
            <tr><td><b>Intevallo carte: </b></td><td>{{field['intervallo_carte']}}</td></tr>
            <tr><td><b>Datazione: </b></td><td>{{field['Datazione']}}</td></tr>
            <tr><td><b>Contenuto: </b></td><td>{{field['Contenuto']}}</td></tr>
            <tr><td><b>Posizione: </b></td><td>{{field['Posizione']}}</td></tr>
            <tr><td><b>Tipologia scrittura: </b></td><td>{{field['Tipologia_scrittura']}}</td></tr>
            <tr><td><b>Testo di riferimento(segnatura): </b></td><td>{{field['Descrizione_Esterna_Segnatura']}}</td></tr>
        </table><hr><br>
   </span>
            {% endfor %}
            {% else %}
            <p> Nessun record inserito.</p>
            {% endif %}
            </p>
          </div>
          </div>



<button class="accordion">Storia del manoscritto</button>
        <div class="panel">
          <div class="show">
          <p>
            {% if codice['storia_del_manoscritto'] %}
            {% for field in codice['storia_del_manoscritto'] %}
        <span >            
            <h6>{{field['Id_auto_inc']}}</h6>
            <br>
            <table>
            <tr><td><b>Datazione: </b></td><td>{{field['Datazione']}}</td></tr>
            <tr><td><b>Contenuto: </b></td><td>{{field['Contenuto']}}</td></tr>
            <tr><td><b>Posizione: </b></td><td>{{field['Posizione']}}</td></tr>
            <tr><td><b>Tipologia scrittura: </b></td><td>{{field['Tipologia_scrittura']}}</td></tr>
            <tr><td><b>Testo di riferimento(segnatura): </b></td><td>{{field['Descrizione_Esterna_Segnatura']}}</td></tr>
        </table><hr><br>
        </span>
            {% endfor %}
            {% else %}
            <p> Nessun record inserito.</p>
            {% endif %}
            </p>
          </div>
          </div>


<button class="accordion">Bibliografia Interna</button>
        <div class="panel">
          <div class="show">
          <p><h6>Libri</h6>
        {% if codice['biblio_int_libri'] %}
        {% for field in codice['biblio_int_libri'] %}
        <span >
            <br>
            <table>
              <tr><td><b>Titolo: </b></td><td>{{field['titolo']}}</td></tr>
              <tr><td><b>Anno: </b></td><td>{{field['anno']}}</td></tr>
              <tr><td><b>Numero pagine: </b></td><td>{{field['numero_pagine']}}</td></tr>
              <tr><td><b>Città: </b></td><td>{{field['citta']}}</td></tr>
              <tr><td><b>Casa editrice scrittura: </b></td><td>{{field['casa_editrice']}}</td></tr>
              <tr><td><b>Collana: </b></td><td>{{field['collana']}}</td></tr>
              <tr><td><b>Numero collana: </b></td><td>{{field['n_collana']}}</td></tr>
              <tr><td><b>Autore: </b></td><td>{{field['autore_nome_cognome']}}</td></tr>
              <tr><td><b>Descrizione interna di riferimento: </b></td><td>{{field['Descrizione_interna_id']}}</td></tr>

          </table><hr><br>
          {% endfor %}
          {% else %}
          <p> Nessun record inserito.</p>
          {% endif %}
            
            <h5>Articoli in rivista</h5>
            {% if biblio_int_articolo_rivista %}
            {% for index, field in biblio_int_articolo_rivista.iterrows() %}
            
              <h6>Articolo {{field['id']}}</h6>
              <br>
              <table>
              <tr><td><b>Id: </b></td><td>{{field['id']}}</td></tr>
              <tr><td><b>Titolo: </b></td><td>{{field['titolo']}}</td></tr>
              <tr><td><b>Anno: </b></td><td>{{field['anno']}}</td></tr>
              <tr><td><b>Numero pagine: </b></td><td>{{field['numero_pagine']}}</td></tr>
              <tr><td><b>Numero fascicolo: </b></td><td>{{field['numero_fascicolo']}}</td></tr>
              <tr><td><b>Nome rivista: </b></td><td>{{field['nome_rivista']}}</td></tr>
              <tr><td><b>Autore: </b></td><td>{{field['autore_nome_cognome']}}</td></tr>
              <tr><td><b>Descrizione interna di riferimento: </b></td><td>{{field['Descrizione_interna_id']}}</td></tr>
            </table><hr><br>
          {% endfor %}
          {% else %}
          <p> Nessun record inserito.</p>
          {% endif %}


          <h5>Articoli in miscellanea</h5>
          {% if biblio_int_articolo_miscellanea %}
          {% for index, field in biblio_int_articolo_miscellanea.iterrows() %}
          
            
             <br>
             <table>
              <tr><td><b>Id: </b></td><td>{{field['id']}}</td></tr>
              <tr><td><b>Titolo: </b></td><td>{{field['titolo']}}</td></tr>
              <tr><td><b>Anno: </b></td><td>{{field['anno']}}</td></tr>
              <tr><td><b>Numero pagine: </b></td><td>{{field['numero_pagine']}}</td></tr>
              <tr><td><b>Curatore: </b></td><td>{{field['curatore_nome_cognome']}}</td></tr>
              <tr><td><b>Autore: </b></td><td>{{field['autore_nome_cognome']}}</td></tr>
              <tr><td><b>Descrizione interna di riferimento: </b></td><td>{{field['desc_int']}}</td></tr>

          </table><hr><br>
          {% endfor %}
          {% else %}
          <p> Nessun record inserito.</p>
          {% endif %}

          <h5>Libri miscellanea</h5>
          {% if biblio_int_articolo_miscellanea_libro %}
          {% for index, field in biblio_int_articolo_miscellanea_libro.iterrows() %}
          <br>
          <table>
              <tr><td><b>Id: </b></td><td>{{field['id']}}</td></tr>
              <tr><td><b>Titolo: </b></td><td>{{field['titolo']}}</td></tr>
              <tr><td><b>Anno: </b></td><td>{{field['anno']}}</td></tr>
              <tr><td><b>Numero pagine: </b></td><td>{{field['numero_pagine']}}</td></tr>
              <tr><td><b>Città: </b></td><td>{{field['citta']}}</td></tr>
              <tr><td><b>Casa editrice scrittura: </b></td><td>{{field['casa_editrice']}}</td></tr>
              <tr><td><b>Collana: </b></td><td>{{field['collana']}}</td></tr>
              <tr><td><b>Numero collana: </b></td><td>{{field['n_collana']}}</td></tr>
              <tr><td><b>Curatore: </b></td><td>{{field['curatore_nome_cognome']}}</td></tr>
              <tr><td><b>Descrizione interna di riferimento: </b></td><td>{{field['desc_int']}}</td></tr>

          </table><hr><br>


         </span>
          {% endfor %}
          {% else %}
          <p> Nessun record inserito.</p>
          {% endif %}
          </p>
          </div>
          </div>


<button class="accordion">Bibliografia Esterna</button>
        <div class="panel">
          <div class="show">
          <p><h6>Libri</h6>
        <span >
        {% if biblio_est_libri %}
        {% for index, field in biblio_est_libri.iterrows() %}
    
          <h6>Libro {{field['id']}}</h6>
          <br>
          <table>
              <tr><td><b>Id: </b></td><td>{{field['id']}}</td></tr>
              <tr><td><b>Titolo: </b></td><td>{{field['titolo']}}</td></tr>
              <tr><td><b>Anno: </b></td><td>{{field['anno']}}</td></tr>
              <tr><td><b>Numero pagine: </b></td><td>{{field['numero_pagine']}}</td></tr>
              <tr><td><b>Città: </b></td><td>{{field['citta']}}</td></tr>
              <tr><td><b>Casa editrice scrittura: </b></td><td>{{field['casa_editrice']}}</td></tr>
              <tr><td><b>Collana: </b></td><td>{{field['collana']}}</td></tr>
              <tr><td><b>Numero collana: </b></td><td>{{field['n_collana']}}</td></tr>
              <tr><td><b>Autore: </b></td><td>{{field['autore_nome_cognome']}}</td></tr>
              <tr><td><b>Manoscritto di riferimento: </b></td><td>{{field['Descrizione_Esterna_Segnatura']}}</td></tr>

          </table><hr><br>
        {% endfor %}
        {% else %}
        <p> Nessun record inserito.</p>
        {% endif %}


          <h6>Articoli in rivista</h6>
            {% if biblio_est_articolo_rivista %}
            {% for index, field in biblio_est_articolo_rivista.iterrows() %}
            <br>
          <table>
              <tr><td><b>Id: </b></td><td>{{field['id']}}</td></tr>
              <tr><td><b>Titolo: </b></td><td>{{field['titolo']}}</td></tr>
              <tr><td><b>Anno: </b></td><td>{{field['anno']}}</td></tr>
              <tr><td><b>Numero pagine: </b></td><td>{{field['numero_pagine']}}</td></tr>
              <tr><td><b>Numero fascicolo: </b></td><td>{{field['numero_fascicolo']}}</td></tr>
              <tr><td><b>Nome rivista: </b></td><td>{{field['nome_rivista']}}</td></tr>
              <tr><td><b>Autore: </b></td><td>{{field['autore_nome_cognome']}}</td></tr>
              <tr><td><b>Manoscritto di riferimento: </b></td><td>{{field['Descrizione_Esterna_Segnatura']}}</td></tr>

          </table><hr><br>
          {% endfor %}
          {% else %}
          <p> Nessun record inserito.</p>
          {% endif %}


<h6>Articoli in miscellanea</h6>
          {% if biblio_est_articolo_miscellanea %}
          {% for index, field in biblio_est_articolo_miscellanea.iterrows() %}
          <br>
          <table>
              <tr><td><b>Id: </b></td><td>{{field['id']}}</td></tr>
              <tr><td><b>Titolo: </b></td><td>{{field['titolo']}}</td></tr>
              <tr><td><b>Anno: </b></td><td>{{field['anno']}}</td></tr>
              <tr><td><b>Numero pagine: </b></td><td>{{field['numero_pagine']}}</td></tr>
              <tr><td><b>Curatore: </b></td><td>{{field['curatore_nome_cognome']}}</td></tr>
              <tr><td><b>Autore: </b></td><td>{{field['autore_nome_cognome']}}</td></tr>
              <tr><td><b>Manoscritto di riferimento: </b></td><td>{{field['Descrizione_Esterna_Segnatura']}}</td></tr>

          </table><hr><br>
          {% endfor %}
          {% else %}
          <p> Nessun record inserito.</p>
          {% endif %}


         <h6>Libro Miscellanea</h6>
         {% if biblio_est_articolo_miscellanea_libro %}
         {% for index, field in biblio_est_articolo_miscellanea_libro.iterrows() %}
         <br>
         <table>
              <tr><td><b>Id: </b></td><td>{{field['id']}}</td></tr>
              <tr><td><b>Titolo: </b></td><td>{{field['titolo']}}</td></tr>
              <tr><td><b>Anno: </b></td><td>{{field['anno']}}</td></tr>
              <tr><td><b>Numero pagine: </b></td><td>{{field['numero_pagine']}}</td></tr>
              <tr><td><b>Città: </b></td><td>{{field['citta']}}</td></tr>
              <tr><td><b>Casa editrice scrittura: </b></td><td>{{field['casa_editrice']}}</td></tr>
              <tr><td><b>Collana: </b></td><td>{{field['collana']}}</td></tr>
              <tr><td><b>Numero collana: </b></td><td>{{field['n_collana']}}</td></tr>
              <tr><td><b>Curatore: </b></td><td>{{field['curatore_nome_cognome']}}</td></tr>
              <tr><td><b>Manoscritto di riferimento: </b></td><td>{{field['Descrizione_Esterna_Segnatura']}}</td></tr>

          </table><hr><br>

          {% endfor %}
          {% else %}
          <p> Nessun record inserito.</p>
          {% endif %}


   </span>
            
          </p>
          </div>
          </div>





<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.display === "block") {
      panel.style.display = "none";
    } else {
      panel.style.display = "block";
    }
  });
}
</script>
        
            </div>
        <div class="tab-pane fade" id="Fac-similes" role="tabpanel" aria-labelledby="profile-tab">
            <table>
            <tr>
            <tr><td><b>Tipologia:</b></td><td>Copia digitale</td></tr>
            <tr><td><b>Manifest:</b></td><td><a href="default_target?manifest=http://lezioni.meneghetti.univr.it//manifests/e818fc3783fb461f156dae89b25140e0.json" target="_blank">
              <img src={{url_for('static', filename="imgs/iiificon.png")}} alt="IIIF Drag-n-drop"/>
            </a> <a href=http://lezioni.meneghetti.univr.it//manifests/e818fc3783fb461f156dae89b25140e0.json class="manifesturl">http://lezioni.meneghetti.univr.it//manifests/e818fc3783fb461f156dae89b25140e0.json</a></td></tr>
            <tr><td><b>Visualizzabile con:</b></td><td> <a href=http://lezioni.meneghetti.univr.it:8085/?manifest=http://lezioni.meneghetti.univr.it//manifests/e818fc3783fb461f156dae89b25140e0.json target="_blank">Universal viewer</a> <a href=http://lezioni.meneghetti.univr.it/m3/?manifest=http://lezioni.meneghetti.univr.it//manifests/e818fc3783fb461f156dae89b25140e0.json target="_blank">Mirador</a>  </td></tr>
        </table>
        </div>
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
            
      </td>
      <td style="width:  10.33%" ></td>
      </tr>
  </table>
</div>


{% endblock body %}