{% extends 'layout.html' %}
{% block header %}
<!-- This link is needed by unAPI it points to the API url -->
<link rel="unapi-server" type="application/xml" title="unAPI" href={{"/".join((request.url_root,"unapi"))}} />
{% if codice['status'] == "In lavorazione" %}
<meta name="robots" content="none">
{% endif %}
<script type="application/ld+json" id="JSONMetadata">
    {{codice|tojson|safe}}
</script>
{% endblock header %}
{% block body%}
<br>
<div class="manbanner" id="content">
  <img alt="Particolare del manoscritto" src="{{codice['immagine_banner']}}" class="img-fluid mb5" id="imgmanu"
    width="1200">
  <div class="mantext"><abbr class="unapi-id"
      title={{codice['segnatura_idx']}}>{{codice['descrizione_esterna'][0]['Segnatura']}}</abbr></div>
</div>
<div class="container py-3 px-0" id="scheda">
  <div class="row">
    <div class="col-2 py-5">
      <img alt="Dorso del manoscritto" src="{{codice['immagine_dorso']}}" class="rounded d-block" width="150">
    </div>
    <div class="col" style="min-width: 320px;">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item " role="presentation">
          <a class="nav-link active text-dark" id="home-tab" data-bs-toggle="tab" href="#home" role="tab"
            aria-controls="home" aria-selected="true"><small><strong>descrizione</strong></small></a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link text-dark" id="profile-tab" data-bs-toggle="tab" href="#Fac-similes" role="tab"
            aria-controls="Fac-similes" aria-selected="false"><small><strong>facsimilia</strong></small></a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link text-dark" id="analisi-tab" data-bs-toggle="tab" href="#analisi" role="tab"
            aria-controls="analisi" aria-selected="false"><small><strong>analisi</strong></small></a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <div class="p-2 bg-secondary text-white">
            <h5 class="text-center">{{codice['segnatura']}}</h5>
            <!-- <h6>I</h6> -->
            <div class="text-justify" id="desc_parti">
              {% if codice['parte'] %}
              {% for field in codice['parte'] %}
              <div>
                <b>collocazione: </b>{{field['collocazione']}}
                <b>consistenza: </b>{{field['consistenza']}}
                <b>legatura: </b>{{field['legatura']}}
                <b>carte di guardia: </b>{{field['carte_di_guardia']}}
              </div>
              {% endfor %}
              {% else %}
              <p> Nessuna parte inserita.</p>
              {% endif %}
            </div>
          </div>
          <button class="accordion" id="accordion_descrizione_esterna">Descrizione Esterna</button>
          <div class="panel">
            <div class="show" id="panel_descrizione_esterna"></div>
          </div>

          <button class="accordion py-1" id="accordion_scritture_avventizie"><small>&nbsp;&nbsp;&nbsp; Scritture
              avventizie</small></button>
          <div class="panel">
            <div class="show" id="panel_scritture_avventizie"></div>
          </div>

          <button class="accordion" id="accordion_descInt">Descrizione Interna</button>
          <div class="panel">
            <div class="show" id="panel_descInt"></div>
          </div>

          <button class="accordion" id="btn_note_di_possesso">Note di possesso, di biblioteca e segnature</button>
          <div class="panel">
            <div class="show" id="panel_notepossesso"></div>
          </div>

          <button class="accordion" id="btn_storia_desc">Storia del manoscritto</button>
          <div class="panel">
            <div class="show" id="show_storia_desc"></div>
          </div>

          <button class="accordion" id="btn_bibext">Bibliografia Esterna</button>
          <div class="panel">
            <br>
            <div class="show" id="bibextshow"></div>
            <br>
            <div class="d-grid gap-2 col-10 mx-auto">
              <a href="https://www.zotero.org/groups/3759014/capitolare-univr/tags/{{sgn}}/library"
                class="btn btn-outline-primary" target="_blank">Visualizzazione avanzata su una nuova scheda su
                zotero.org</a>
            </div>
            <br>
          </div>
        </div>
        <div class="tab-pane fade bg-light" id="Fac-similes" role="tabpanel" aria-labelledby="profile-tab">

          {% if codice['facsimile'] %}
          {% for field in codice['facsimile'] %}
          <br>
          <h6>{{field['id_facsimile']}}</h6>
          <table>
            <tr>
              <td><b>tipologia: </b></td>
              <td>{{field['tipologia']}}</td>
            </tr>
            <tr>
              <td><b>descrizione: </b></td>
              <td>{{field['descrizione']}}</td>
            </tr>
            <tr>
              <td><b>Anno: </b></td>
              <td>{{field['datazione']}}</td>
            </tr>
            <tr>
              <td><b>ID Origine: </b></td>
              <td>{{field['id_origine']}}</td>
            </tr>
            <tr>
              <td><b>Creatore: </b></td>
              <td>{{field['creatore']}}</td>
            </tr>
            <tr>
              <td><b>Luogo di custodia: </b></td>
              <td>{{field['luogo_di_custodia']}}</td>
            </tr>
            {% if field['manifest'] != "" %}
            <tr>
              <td><b> <a href="default_target?manifest={{field['manifest']}}" target="_blank">
                    <img src={{url_for('static', filename="imgs/iiificon.png" )}} alt="IIIF Drag-n-drop" /></a>
                  Manifest:</b></td>
              <td>
                <a href={{field['manifest']}} class="manifesturl">
                  <div class="text-break">{{field['manifest']}}</div>
                </a>
              </td>
            </tr>
            <tr>
              <td><b>Visualizzabile con:</b></td>
              <td> <a href=http://lezioni.meneghetti.univr.it/UVjs/?manifest={{field['manifest']}}
                  target="_blank">Universal viewer</a> <a
                  href=http://lezioni.meneghetti.univr.it/m3/?manifest={{field['manifest']}} target="_blank">Mirador</a>
              </td>
            </tr>
            {% endif %}
            <tr>
              <td><b>Link :</b></td>
              <td><a href={{field['link_online']}} class="exturl" target="_blank">
                  <div class="text-break">{{field['link_online']}}</div>
                </a></td>
            </tr>
            <tr>
              <td><b>completezza: </b></td>
              <td>{{field['completezza']}}</td>
            </tr>
          </table>
          <hr><br>
          {% endfor %}
          {% else %}
          <p> Nessun record inserito.</p>
          {% endif %}
        </div>
        <div class="tab-pane fade" id="analisi" role="tabpanel" aria-labelledby="analisi-tab">...</div>
      </div>
    </div>
    <!--
  Pannello laterale destro.
  -->
    <div class="col-md col-lg">
      {% if codice['status'] == "Presentabile" %}
      <div class="row">
        <div class="alert alert-warning" role="alert">
          <p class="text-center">🚧 <b>CATALOGAZIONE IN CORSO</b> 🚧</p>
          Questa è una versione preliminare della scheda, il catalogatore deve ancora revisionare le informazioni
          contenute.
        </div>
      </div>
      {% endif %}
      <!--
  Alert INFO inizio.
  -->
      <div class="alert alert-info" role="alert">
        <div class="row">
          <div class="col-sm-9">
            <p>
              <b>Autore della scheda:</b>
              {% if codice['descrizione_esterna'] %}
              {% for field in get_authors(codice,'utenti_email') %}
              {{field}}<br>
              {% endfor %}
              {% endif %}
              {% if codice['descrizione_esterna'] %}
              {% for orchid in get_authors(codice,'orchid') %}
              <a href="{{orchid}}" class='text-dark'>
                <img alt="ORCID logo" src="https://info.orcid.org/wp-content/uploads/2019/11/orcid_16x16.png" width="16"
                  height="16" />
                <small>{{orchid}}</small></a>
              {% endfor %}
              {% endif %}
              <br>
              <b>Ultima modifica:</b> {{codice['last_modified']}}
            </p>
          </div>
          <div class="col-sm-1">
            <div class="dropdown export">
              <button class="btn btn-secondary dropdown-toggle btn-sm" type="button" id="dropdownMenuButton1"
                data-bs-toggle="dropdown" aria-expanded="false">
                📥 Esporta
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="/printableversion/{{codice['segnatura_idx']}}  "> 🖨️ Versione
                    stampabile </a></li>
                <li><a class="dropdown-item" href="/unapi?id={{codice['segnatura_idx']}}&format=rdf_bibliontology">
                    <img alt="logo RDF" src={{url_for('static',filename='imgs/RDF60.png' )}} width="20" height="20"
                      alt="rdflogo"> RDF</a></li>
                <li><a class="dropdown-item"
                    href="/unapi?id={{codice['segnatura_idx']}}&format=tei_manuscriptdescription">
                    <img alt="logo TEI" src={{url_for('static',filename='imgs/TEI60.png' )}} width="20" height="20"
                      alt="TEI logo"> TEI</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div id='sommario_desc'>
          {% if 'sommario_desc' in codice.keys() %}
          {{codice['sommario_desc']}}
          {% endif %}
        </div>
        <div>
          <!-- 
  Alert INFO fine.
  -->
        </div>

      </div>

      <div class="menu sticky-top p-3  py-5">
        <br>
        <br>
        <h5 class="text-dark">Navigazione:</h5>
        <div class="nav flex-column">
          <a class="text-dark" href="#content"> Torna all'inizio della pagina.</a>
          <details>
            <summary class="text-dark">Indice delle sezioni</summary>
            <ul class="TOC-scheda">
              <li id="toc_Descrizione_esterna">Descrizione esterna</li>
              <li id="toc_Scritture_avventizie">Scritture avventizie</li>
              <li id="toc_Descrizione_interna">Descrizione interna</li>
              <li id="toc_Note_di_possesso">Note di possesso, di biblioteca e segnature</li>
              <li id="toc_Storia_del_manoscritto">Storia del manoscritto</li>
              <li id="toc_Bibliografia_esterna">Bibliografia esterna</li>
            </ul>
          </details>
          <span class="text-dark clickable" id="chiuditutto"> Chiudi tutte le sezioni.</span>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<script src={{url_for('static', filename="generatesections.js" )}}></script>

{% endblock body %}