{% extends 'layout.html' %}
{% block  body%}

<br>
<div class="container">
    <div class="row">
      <div class="col-md-auto text-center">
        <img src="http://lezioni.meneghetti.univr.it//imageapi/LXI/m0061_0visn20_0000a2.jp2/1312,104,1904,7776/90,/180/default.jpg" class="rounded mx-auto d-block" >
      </div>
      <div class="col-6">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                  <a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Descrizione</a>
                </li>
                <li class="nav-item" role="presentation">
                  <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#Fac-similes" role="tab" aria-controls="Fac-similes" aria-selected="false">Fac-similes</a>
                </li>
                <li class="nav-item" role="presentation">
                  <a class="nav-link" id="contact-tab" data-bs-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
                </li>
            </ul>

        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            
            {% for index, field in descrizione.iterrows() %}
        <table>
           <tr>
            <tr><td><b>Segnatura: </b></td><td>{{field.Segnatura}}</td></tr>
            <tr><td><b>Datazione: </b></td><td>{{field.datazione}}</td></tr>
            <tr><td><b>Tipologia di supporto e qualità: </b></td><td>{{field.tipo_di_supporto_e_qualita}}</td></tr>
            <tr><td><b>Consistenza: </b></td><td>{{field.consistenza}}</td></tr>
            <tr><td><b>Numerazione delle carte: </b></td><td>{{field.numerazione_carte}}</td></tr>
            <tr><td><b>Carte di guardia: </b></td><td>{{field.carte_di_guardia}}</td></tr>
            <tr><td><b>Prospetto fascicolazione: </b></td><td>{{field.prospetto_fascicolazione}}</td></tr>
            <tr><td><b>Arrangiamento dei fogli (regola di Gregory): </b></td><td>{{field.arrangiamento_fogli_gregory}}</td></tr>
            <tr><td><b>Dimensioni: </b></td><td>{{field.dimensioni}}</td></tr>
            <tr><td><b>Rigatura: </b></td><td>{{field.rigatura}}</td></tr>
            <tr><td><b>Foratura: </b></td><td>{{field.foratura}}</td></tr>
            <tr><td><b>Legatura: </b></td><td>{{field.legatura}}</td></tr>
            <tr><td><b>Utente: </b></td><td>{{field.utenti_email}}</td></tr>
            <tr><td><b>Palinsesto: </b></td><td>{{field.Descrizione_Esterna_Segnatura}}</td></tr>
        </table>
            {% endfor %}
        
            </div>
        <div class="tab-pane fade" id="Fac-similes" role="tabpanel" aria-labelledby="profile-tab">
            <table>
            <tr>
            <tr><td><b>Tipologia:</b></td><td>Copia digitale</td></tr>
            <tr><td><b>Manifest:</b></td><td> <a href=http://lezioni.meneghetti.univr.it//manifests/e818fc3783fb461f156dae89b25140e0.json>http://lezioni.meneghetti.univr.it//manifests/e818fc3783fb461f156dae89b25140e0.json</a></td></tr>
            <tr><td><b>Visualizzazione:</b></td><td> <a href=http://lezioni.meneghetti.univr.it:8085/?manifest=http://lezioni.meneghetti.univr.it//manifests/e818fc3783fb461f156dae89b25140e0.json target="_blank">Universal viewer</a> </td></tr>
        </table>
        </div>
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
    </div>
    </div>
</div>
</div>

{% endblock body %}