{% extends 'layout.html' %}
{% block  body%}

<div class="container withnavbar">
    <br>
    <div class="row">
        <div class="sidenav strumenti">
            <a href="#intro"> - Introduzione</a>
            <p><b>Hardware:</b></p>
            <a href="#catalog">Sistema digitalizzazione Nikon D810</a>
            <a href="#conserv">Sistema multispettrale PhaseOne RAINBOW</a>
            <a href="#digital">Spettrometri Zeiss</a>
            <a href="#digital">Sistema profilazione i1Publish Pro 3</a>
            <a href="#access">Targets per controllo e profilazione immagini</a>
            <br>
            <p><b>Software:</b></p>
            <a href="#digital">Controllo stato di avanzamento acquisizione.</a>
            <a href="#digital">Interazioni mouseover per analisi multispettrali.</a>
            <a href="#digital">Digitalizzazione serie microclimatiche.</a>
     
        </div>
        <div class="col-md-7 col-sm-6">
        <section id="intro">
        <h3>Introduzione</h3>
        <p>
            
        </p>
        </section>
    </div>
</div>
{% endblock body %}
